*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.web-container{
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* ........nav-bar............ */

.nav-banner-container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Ovista-images/banner-bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    /* background-color: blueviolet; */
}

/* ........................... */

.navbar-container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
}
.navlogo-section{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.navlogo-section img{
    width: 300px;
    height: 300px;
}

.navbar-container label {
    display: none;

}
#checking{
    display: none;
}
.navbar-container label {
    display: none;
}
input[type="checkbox"] {
    display: none;
}
.nav-items {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-items a{
    font-size: 20px;
    font-family: monospace;
    font-weight: 500;
    color: whitesmoke;
    text-decoration: none;
}
.nav-items a:hover{
    color: rgb(239,73,35);
}
/* ...........banner............ */

.banner-container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:8% ;
    padding-left: 6%;
    color: white;
    /* background-color: blue; */
}
.banner-container h1{
    font-size: 75px;
    font-family: cursive;
}
.banner-container p{
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.banner-container button{
    width: 15%;
    height: 10%;
    font-size: larger;
    background-color: rgb(240,73, 35);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to left, rgb(240,73,35) 50%, rgb(244,123,32) 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
}
.banner-container button:hover{
    background-color: rgb(244,123,32);
    background-position:left
}
/* .............activity............ */

.activity-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:whitesmoke;
}
.activity-title{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.activity-title h2{
    font-size: 48px;
    font-family: cursive;
}
.activity-title p{
    font-size: 16px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(244,123,32);
}
.activities-container{
    width: 90%;
    height: 70%;
    /* background-color: brown; */
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1%;
    grid-template-columns: repeat(4, 1fr);
}
.activity-card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgb(240,73, 35);
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}


/* ..........fav-places........ */

.Packages-container{
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
}
.package-title{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
}
.package-title p{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: rgb(244,123,32);
}
.package-title h2{
    font-size: 48px;
    font-family: cursive;
}
.packagecard-container {
    width: 80%;
    height: 80%;
    /* background-color: bisque; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 6%;
}

.Package-card{
    width: 350px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Package-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.Package-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.Package-card-content {
    padding: 15px;
}
.card-title {
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.card-price {
    display: flex;
    gap: 5%;
    margin-top: 5%;
}
.card-price p{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(240,73, 35);
}
.card-price span{
    font-size: larger;
    font-family: sans-serif;
    font-weight: bold;
}

/* ..........banner2................ */

.banner2-container{
    width: 100%;
    height: 100vh;
    /* background-color: bisque; */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(Ovista-images/banner2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.banner2-container p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: bold; */
}
.banner2-container h2{
    text-align: center;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
}

/* ..............about......................*/

.about-container{
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: aqua; */
}
.aboutimage-section{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: bisque;  */
}
.aboutimage-section img{
    width: 550px;
    height: 650px;
    border-radius: 10px;
}
.aboutcont-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
  }
  
  .about-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: bisque; */
    gap: 2%;
    padding-left: 5%;
  }
  
  .about-content h5{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;    
    font-family: sans-serif;
    font-weight: bolder;
  }
  
  .about-content h2 {
    font-family: sans-serif;
    font-size: 36px;
  }
  
  .about-content .highlight {
    color: #ff6600; /* Orange highlight */
  }
  
  .about-content p {
    font-size: 16px;
    line-height: 1.6;
    font-family: sans-serif;
    color: #666;
  }
  
  .features-list {
    width: 250px;
    height: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: aqua; */
  }
  
  .features-list li {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #5e5a5a;

 }
  
  .about-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-family: sans-serif;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(240,73, 35);
    margin-top: 2%;
    background: linear-gradient(to left, white 50%, rgb(244,123,32) 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
  }
  .about-btn:hover{
    background-color: rgb(244,123,32);
    background-position:left;
    color: white;
    border: none;
  }
 
  /* ..............blog..................... */

.blog-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5%;
    background-color: whitesmoke;
}
.blog-title{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
    /* background-color: beige; */
}
.blog-title p{
    color: rgb(244,123,32);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}
.blog-title h2{
    font-size: 48px;
    font-family: cursive;
}
.blogcard-container{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
}
.blog{
    width: 100%;
    height: 45%;
    display: flex;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
}
.blog-date{
    width: 10%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(244,123,32);
}
.blog-date h4{
    font-size: 28px;
    font-family: sans-serif;
}
.blog-date p{
    font-weight: bold;
    font-family: sans-serif;
}
.blog-content{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bolder;
    /* background-color: aqua;   */
}
.blog-img-btn{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.blog-img-btn img{
    width: 100px;
    margin-top: 8%;
}
.blog-img-btn button{
    width:100%;
    height: 30%;
    color: white;
    border: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(244,123,32);
    background: linear-gradient(to left,rgb(244,123,32)  50%, rgb(240,73,35) 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
}
.blog-img-btn button:hover{
    background-color: rgb(244,123,32);
    background-position:left;
}

/* ................footer........................ */
.footer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  
  .footercont-container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* background-color: aquamarine; */
    justify-content: space-between;
  }
  .footercont-section{
     width: 30%;
     height: 100%;
     display: flex;
     align-items: center;
     /* background-color: bisque; */
  }
  .footercont-section img{
    width:400px;
    /* background-color: aqua; */
  }
   .footer-section{
    width: 20%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: beige; */
    gap: 5%;
   }
   .footer-section li{
    list-style: none;
    display: flex;
    align-items: center;
    gap:5%;
    color:rgb(240,73, 35);
     
   }
   .footer-section h3{
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
   }
   .footer-section a{
    text-decoration: none;
    font-size:18px ;
    color: rgb(240,73,35);
   }
  
  .footer-bottom {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color:white;
    background-color:rgb(240,73, 35);
  }














  
    
  @media (max-width:769px){
    
        
    /* nav */
    .nav-items {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      background: rgba(255, 255, 255, 0.1); /* Transparent background */
      backdrop-filter: blur(10px); /* Frosted glass effect */
      -webkit-backdrop-filter: blur(10px); /* For Safari */
      border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 60%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      z-index: 99;
    }

  .nav-items a {
      line-height: 10px;
  }

  .nav-items label {
      position: absolute;
      top: -1%;
      right: 5%;
  }
  .nav-items label img{
      margin-top: 50%;
  }
  .nav-items input {
      display: block;
  }

  #checking:checked~.nav-items {
      right: 0;
  }


  .navbar-container label {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      
  }
  .navbar-container label img{
      width: 60%;
  }
}

@media (max-width:426px){
.nav-banner-container{
    height: 80vh;
}

/* ....nav.......... */
.navlogo-section img{
  width: 200px;
  height: 200px;
}
.menu-icon{
    width: 120px;
}
/* .....banner....... */
.banner-container h1{
    font-size: 36px;
}
.banner-container p{
    font-size: 24px;
}
.banner-container button{
    width: 140px;
    font-size: 16px;
}
/* ....activity...... */
.activity-section{
    height:230vh;
}
.activity-title{
    height: 120px;
}
.activities-container{
    height: auto;
    grid-template-columns: repeat(1, 1fr);
}
/* .....fav-places..... */
.Packages-container{
    height: 570vh;
}
.package-title{
    height: 140px;
}
.packagecard-container{
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 2%;
}
.Package-card{
    width: 100%;
}
/*.....banner2......... */
.banner2-container{
    height: 60vh;
}
.banner2-container p{
    font-size: 20px;
    text-align: center;
}
.banner2-container h2{
    font-size: 24px;
}
/* .......about.........*/
.about-container{
    height: 200vh;
    flex-direction: column-reverse;
}
.aboutimage-section{
    width: 100%;
    height: 50%;
}
.aboutimage-section img{
    width: 400px;
    height: 90%;
}
.aboutcont-section{
    width: 100%;
    height: 50%;
}
.about-content h2 {
    font-size: 30px;
}
.about-content p{
    font-size: 14px;
}
  /*.........blog......... */
  .blog-date{
    width: 100px;
    height: 80px;
  }
  .blog-content{
    font-size: 14px;
    padding-top: 5%;
  }
  .blog-img-btn img{
    width: 50px;
  }
  .blog-img-btn button{
    width: 100px;
    font-size: 16px;
  }
  
/* ......footer....... */
.footer{
    height: 100vh;
}
.footercont-container{
    flex-direction: column;
    align-items: flex-start;
}
.footercont-section{
   display: none;
}
.footer-section{
    width: 60%;
    align-items: flex-start;
}
.footer-bottom{
    font-size: 15px;
}
}